---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LkIcon.astro";
---

<footer class="bg-[#0F0F0F] py-12 px-6">
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-center gap-6 mb-6">
      <a
        href="https://linkedin.com/in/andresgogutierrez/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white"
        aria-label="LinkedIn"
      >
        <LinkedInIcon />
      </a>

      <a
        href="https://github.com/AndresGoGutierrez"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white"
        aria-label="GitHub"
      >
        <GithubIcon />
      </a>
    </div>

    <p class="text-center text-gray-300">
      Copyright © 2025. Todos los derechos reservados. Hecho por <span
        class="text-[#facc15] font-semibold">AndresGoGutierrez</span
      >
    </p>
  </div>
</footer>
