---
import "../styles/global.css";
//import { Image } from "astro:assets";
//import logoNavBar from "../images/AndresGomezPhoto.jpg";
---

<header class="fixed top-0 left-0 w-full z-50  backdrop-blur-md flex justify-center items-center py-5">
  <nav class="flex flex-row gap-x-10 opacity-90 text-white">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#tecnologias">Tecnologías</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
